
@{
    ViewBag.Title = "Charger_calendrier";
}

<h2>Charger_calendrier</h2>

@using (Html.BeginForm("Import", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @ViewBag.Error
        @ViewBag.Success
        <br />
        JSON File <input type="file" name="jsonFile" />
        <br />

        <input type="submit" value="charger" />
    </div>
}

